.page-title {
	margin-bottom: 75px;
	line-height: 1.25em;
	text-align: center;
	position: relative;
	padding-bottom: 50px;
	&::after {
		content: '';
		position: absolute;
		bottom: 0px;
		width: 100px;
		left: 50%;
		margin-left: -50px;
		height: 1px;
		background: rgba(#000000,.25);
	}

	.flex {
		flex-direction: column-reverse;
	}

	h1 {
		font-size: 2rem;
		color: #000000;
		text-transform: uppercase;
	}

	h2 {
		font-size: 1.25rem;
		color: rgba(#000000, .5);
		font-weight: 400;
		margin-bottom: 25px;
	}
}
